run = "./TORhunter"

[nix]
channel = "stable-22_11"

[deployment]
run = ["sh", "-c", "./TORhunter"]

[languages]

[languages.bash]
pattern = "**/{*.sh,*.bash}"

[languages.bash.languageServer]
start = "bash-language-server start"
